
<form method="post" action="/courses/store">
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" id="name">
    </div>
  </div>
  <div class="row mb-3">
    <label for="auth" class="col-sm-2 col-form-label">Author</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="auth" name="auth">
    </div>
  </div>
  <div class="row mb-3">
    <label for="decription" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text-aria" class="form-control" id="decription" name="decription">
    </div>
  </div>
  <div class="row mb-3">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title">
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Create</button>
</form>
