@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.myApp {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #161823; }

.nav-left {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  height: 100%;
  padding: 10px 10px 0 0;
  background-color: #161823;
  color: #b1a8a8;
  z-index: 1; }

.nav-left .logo-name {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #fff; }

.nav-left .logo-image {
  display: flex;
  justify-self: center;
  min-width: 45px; }

.nav-left .logo-image img {
  width: 40px;
  object-fit: cover;
  border-radius: 40%; }

.nav-left .logo-name .logo-name-sp {
  font-size: 22px;
  font-weight: 600;
  margin-left: 14px; }

.nav-left .menu-left {
  margin-top: 40px;
  height: calc(100%-90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.menu-left li {
  list-style: none; }

.menu-left li:hover:before {
  list-style: none; }

.menu-left li a {
  display: flex;
  height: 50px;
  align-items: center;
  text-decoration: none;
  position: relative; }

.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  list-style: none; }

.menu-left li a i {
  font-size: 18px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b1a8a8; }

.menu-left li a .link-name {
  font-size: 18px;
  color: #b1a8a8;
  padding-top: 3px; }

.nav-links li a:hover,
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: #fff;
  background-color: #302835;
  border-radius: 10px; }

.nav-top {
  position: fixed;
  background-color: #161823;
  display: flex;
  top: 0;
  left: 200px;
  height: 80px;
  width: calc(100% - 200px);
  justify-content: space-between;
  margin-right: 20px;
  z-index: 1; }

.nav-top .search-box {
  position: relative;
  height: 45px;
  max-width: 500px;
  width: 100%;
  margin: 15px 100px; }

.nav-top .search-box input {
  position: absolute;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #161823;
  height: 100%;
  width: 100%;
  padding: 0 25px 0 50px; }

.nav-top .search-box i {
  position: absolute;
  left: 15px;
  color: #fff;
  font-size: 18px;
  z-index: 10;
  padding-top: 10px; }

.menu-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 50px; }

.menu-box .menu-top-items {
  display: flex;
  justify-content: flex-end; }

.menu-box .menu-top-items li {
  padding: 10px;
  list-style: none;
  align-items: center; }

.menu-box .menu-top-items .link-name {
  transform: translateY(-20%); }

.menu-box .menu-top-items li:hover,
.menu-box .menu-top-items li:hover a {
  background-color: #302835;
  color: #fff;
  border-radius: 10px; }

.menu-box .menu-top-items .menu-item-a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #b1a8a8;
  align-items: center;
  transform: translateY(-34%);
  font-size: 18px;
  padding: 0;
  width: 100%;
  height: 100%; }

.menu-box .menu-top-items i {
  font-size: 18px; }

.user-box {
  margin: 0 2% 0 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10px 0 10px;
  color: #b1a8a8;
  width: 100%;
  height: 48px; }

.user-box .user-image {
  border-radius: 50%;
  width: 30px;
  height: 30px; }

.user-box p {
  padding: 15px 0 0 5px; }

.user-box:hover {
  background-color: #302835;
  color: #fff;
  border-radius: 10px; }

.main-app {
  position: relative;
  top: 80px;
  left: 200px;
  width: calc(100% - 200px);
  padding-right: 40px;
  border-radius: 10px; }

.slide-home-page .carousel-inner image {
  height: 100vh; }
