<div class="nav-bar-header">
 
  <div class="nav-left">
    <div class="logo-name">
      <div class="logo-image">
        <img src="" alt="">
        <span class="logo-name-sp">iFood</span>
      </div>
    </div>
    <div class="menu-left">
      <ul class="nav-links">
        <li>
          <a href="/">
            <i class="uil uil-estate"></i>
            <span class="link-name">Home</span>
          </a>
        </li>
        <li>
          <a href="/me/stored/courses">
            <i class="uil uil-pizza-slice"></i>
            <span class="link-name">Foods</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="uil uil-coffee"></i>
            <span class="link-name">Drinks</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="uil uil-clinic-medical"></i>
            <span class="link-name">Manage</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
 <div class="nav-top">
    <div class="search-box">
      <i class="uil uil-search"></i>
      <input type="text" name="" id="" placeholder="Search hear...">
    </div>
    <div class="menu-box">
      <ul class="menu-top-items">
        <li>
          <a class="menu-item-a" href="#">
            <i class="uil uil-map-marker"></i>
            <span class="link-name">Location</span>
          </a>
        </li>
         <li>
          <a class="menu-item-a" href="#">
            <i class="uil uil-comment"></i>
            <span class="link-name">Chat</span>
          </a>
        </li>
      </ul>
       <div class="user-box">
      <img src="../img/logo.jpg" alt="" class="user-image">
      <p>Login</p>
    </div>
    </div>
   
  </div>
</div>