
  <div class="container-fluid mt-5">
    <form class="d-flex">
      <input class="form-control me-2" name="name" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search 1</button>
    </form>
  </div>
